.container{
  width: 100%;
  height: 100vh;
  background-color:#17252a ;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}
.header-container{
  width: 100%;
  height: 230px;
  font-size: 18px;
  text-align: center;
  background-color: #3c1053;
  line-height: 1.24;
  color: #fff;
  z-index: 10;
  margin: 0;
  font-family: 'Poppins';
}

.logout{
  display: absolute;
  margin-top: 1px;
  margin-right: 2px;
  top:20px;
  right:100px;
}

.title{
  align-self: center;
  display: flex;
  flex-direction: column;
  display: center;
  padding-top:25px;
}
.options{
  line-height: 1.24;
  color: #fff;
  z-index: 10;
  margin: 0;
  font-family: 'Poppins';
}
.selectClass{
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-top: 50px;
}

.small-text{
  color: #fff;
  font-size: 20px;
  font-family: 'Poppins';
  margin-right: 10px;
}
.search {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22em, 30em));
  padding-left: 16rem;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 3rem;
  margin-top:4rem;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22em, 30em));
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 3rem;
  margin-top:4rem;
}
.recipient{
  padding-left: 40%;
  padding-top: 50px;
}
.text-box{
  color: #fff;
  background-color: #DEF2F1;
  align-content: center;
}
.text-box-container{
  padding-bottom: 10px;
}

.btn-search{
  padding-left:10px;
}

.dropbox{
  font-family: Arial;
  font-size: 20px;
  margin-right:10px;
  height: 50px;
  width: 200px;
}